body {
  /* font-family: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: 'Figtree', sans-serif;
  color: white;
  background: linear-gradient(to bottom, #9eb4d3 0%, #5E6C85 80%);
  /* background-color: #9eb4d3; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  padding: 10px;
  padding-left: 120px;
}

.name {
  position: absolute;
  top: 100px;
  left: 20px;
  text-align: left;
}

h1 {
  font-size: 240px;           /* sets the size of the font */
  font-weight: 600;
  letter-spacing: 2px;       /* spacing between letters */
  line-height: 1;          /* spacing between lines */
  margin: 10px 0;            /* vertical space between elements */
}

.contents {
  position: absolute;
  top: 100px;
  right: 20px;
  text-align: right;
}

.contents p {
  font-size: 80px;
  margin: 24px 0;
}

.blurb {
  position: absolute;
  top: 600px;
  left: 24px;
  text-align: left;
}

.blurb p {
  font-size: 40px;
  margin: 24px 0;
}

.contents-link {
  font-size: 80px;
  display: block;              /* shrink-wraps the text */
  padding: 10px 28px;                  /* oval padding */
  border-radius: 999px;               /* oval shape */
  background-color: transparent;      /* default */
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contents-link:hover {
  background-color: rgba(255, 255, 255, 0.3);  /* soft highlight */
  cursor: pointer;
}

.site-footer {
  position: fixed;       /* or absolute if you want it to scroll */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent or use solid */
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  backdrop-filter: blur(4px); /* optional glassy look */
}

.site-footer a {
  color: white;
  /* text-decoration: underline; */
}

.header {
  position: fixed;       /* or absolute if you want it to scroll */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent or use solid */
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  backdrop-filter: blur(4px); /* optional glassy look */
}

.header a {
  color: white;
}

#typewriter::after {
  content: '|';
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#cat {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* lets mouse clicks pass through */
  z-index: 9999;
  transition: transform 0.1s linear;
}

