body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  background-color: #9eb4d3;
  text-align: left;
  padding: 100px;
}

h1 {
  font-size: 240px;           /* sets the size of the font */
  letter-spacing: 2px;       /* spacing between letters */
  line-height: 1;          /* spacing between lines */
  margin: 10px 0;            /* vertical space between elements */
}

.contents {
  position: absolute;
  top: 120px;
  right: 120px;
  text-align: right;
}

.contents p {
  font-size: 80px;
  margin: 24px 0;
}