body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  background-color: #9eb4d3;
  text-align: left;
  padding: 100px;
}

h1 {
  font-size: 300px;           /* sets the size of the font */
  letter-spacing: 2px;       /* spacing between letters */
  line-height: 1;          /* spacing between lines */
  margin: 10px 0;            /* vertical space between elements */
}

h2 {
  font-size: 180px;           /* sets the size of the font */
  letter-spacing: 2px;       /* spacing between letters */
  line-height: 1;          /* spacing between lines */
  margin: 20px 0;            /* vertical space between elements */
}